{% extends 'inv/base.html' %}
{% load widget_tweaks %}
{% block title %} All Results {% endblock %}
{% block body %}

  




<section>
    <div class="section-body">
      <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-head style-primary">
                <header>Dashboard</header>
                  <div class="tools">
                        <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                        <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                  </div>
              </div>


            <div class="card-body">
            <div class="table-responsive">
                  
      <body>

      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title">Revenue</h2>
                      <span class="h2 font-weight-bold mb-0">RM {{ profit }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  {% if indicator == None %}
                    <span class="text-secondary mr-2"><i class="fa fa-minus"></i> {{ percent }}%</span>
                    {% endif %}
                  {% if indicator == True %}
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ percent }}%</span>
                    {% endif %}
                    {% if indicator == False %}
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> {{ percent }}%</span>
                    {% endif %}
                    <span class="text-nowrap">Compare to last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title ">Reorder Cost</h2>
                      <span class="h2 font-weight-bold mb-0">RM {{ cost }}</span>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">This month's amount</span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>




<div class="row">
           <div class="col-xl">

                <div class="card-body-stats">              
                       <div class="table-responsive">
                       <h2 class="card-title">Re-order yet to Receive</h2>
<table id="datatable1" class="table order-column hover">
<thead>
<tr>
{% for item in reorder_list%}
<th>{{ item }}</th>
{% endfor %}
<th>Edit</th>
</tr>
</thead>
<tbody>
{% for i in reorderlist %}

<tr class="gradeX">

 <td> {{ i.item_code }}</td>
 <td>{{ i.reorder_date }}</td>
<td>{{ i.reorder_quantity }}</td>
<td>{{ i.receive_date }}</td>
<td>{{ i.receive_quantity }}</td>
<td>{{ i.Lack}}</td>
    <td>
            <a href="{% url 'edit_reorder' i.order_id %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
               </td>
</tr>
{% endfor %}
</tbody>
</table>
                </div>
              </div> 
            </div>
      </div>




<div class="row">
           <div class="col-xl">

                <div class="card-body-stats">              
                       <div class="table-responsive">
                       <h2 class="card-title">Urgent item required to restock</h2>
<table id="datatable2" class="table order-column hover">
<thead>
<tr>
{% for item in list%}
<th>{{ item }}</th>
{% endfor %}
<th>Edit</th>
</tr>
</thead>
<tbody>
{% for i in urgent %}

<tr class="gradeX">

 <td> {{ i.item_code }}</td>
<td>{{ i.item_quantity_available }}</td>
<td>{{ i.Predicted_item }}</td>
<td>{{ i.Lack}}</td>

            <td>
            <a href="{% url 'edit_item_status' i.item_code %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            </td>   
</tr>
{% endfor %}
</tbody>
</table>
                </div>
              </div> 
            </div>
      </div>



      
      </div>
        </body>
              
            </div>
            </div>
            </div>
      </div>
        </div> 
      </div>

</section>


    <section>
    <div class="section-body">
      <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-head style-primary">
                <header>Generate Report</header>

              </div>

              
            <div class="card-body">
            <div class="table-responsive">
                  
      <body>

      <div class="container-fluid">
        <div class="header-body">
  {% autoescape off %}
  
      <div class="row">
        <div class="col-md-4">
        	<form class="form" role="form" action="{% url 'report' %}"method="post">
          {% comment %} <form class="form" role="form" action=""method="post"> {% endcomment %}
            {% csrf_token %}
                <div class="form-group floating-label">
                    <h2 class="card-title text-uppercase text-muted mb-0">Generate Report</h2>
                    {{ form.post | add_class:'form-control' }}
                </div>
                <br>
            <button type="submit">Submit</button>
          </form>
          <h2>{{ data }}</h2>
          
        </div>

               {% endautoescape %}
          </div>
      </div>
      </div>
      </body>
            </div>
             </div>
              </div>
              </div>
            </div>
          </div>
      </div>
</section>



{% endblock %}
